
/* style org_speakers */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
/*  */
.label_speak{
  color:#141572;
  font-weight: medium;

}

.list_ul{
  color: #141572;
  position: relative;
  left:40px;
}
.list_ul2{
  color:white;
  position: relative;
  left:86px;
  bottom:12px;
}
#tem{
  position: relative;
  left:63px;
}
#Bienvenue{
  color:white;
  position: relative;
  left:150px;
  top:5%;
}
#sbs{
  color:white;
  position: relative;
  left:140px;
  top:10%;

}


/* style les cards sur la  2 eme partie */

.cards{
  display:flex;
  justify-content: space-around;
}
.description_card{
  font-weight: bold;
  font-family: DM Sans;
}

#nom_page2{
  position: relative;
  left:38%;
}
#card2{
  position: relative;
  top:5.8px;
}

.gard_fin_page_p2{
  background-color: #5522CC;
  width:100%;
  height:29px;
  position: relative;
  top:24px;

}


.p3{
 
  position: relative;
  left:23%;

}
.pA{
  position: relative;
  left:1.5%;
  font-weight: bold;
}
.icon_team{
  position: relative;
  left:25px;
  top:18px;
}
#p2{
  position:relative;
  bottom:12px;
}

.pA{
  font-weight: medium; font-size:18px; font-family: 'DM Sans', sans-serif;
}