.welcome{
    position:relative;
     left:130%; 
     bottom:123px;
}

.paragrah_who{
    display: flex; 
    align-items: center;
     position: relative;
    margin-left: 150px;
    margin-top: 40px;
    color:white;
    font-weight: bold;
}

.org_speakers {
    background-color: rgba(255, 133, 187, 0.2); 
    width: 600px;
    height: 160px;
    color:white;
    position: relative;
    left: 25%;
    top:6%;
    border-radius: 30px;
  }
  .cnt_speak1{
    color:white;
    position: relative;
    left:18px;
    top:15px;
    bottom:2px;
    font-weight: 20px;
  }
  /*  */
  .boxe{
    display: flex;
  }
    
